/* bookList.css */
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    /* background-color: black; */
}

.book-card {
    background-color: #f1f1f1; /* Background color */
    border-radius: 15px; /* Rounded edges */
    padding: 10%; /* Separation from the edge of the div */
    margin: 10%; /* Separation from the surrounding divs */
    max-height: 25%;
    transition: transform 0.2s;
    overflow: hidden;
    /* max-width: 33%; */
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card h3 {
    margin-top: 0;
}

.book-card p {
    margin-bottom: 10px;
}

.book-card img {
    max-height: 100px;
    max-width: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .modal_content {
    background-color: white;
    position: absolute;
  }