/* bookList.css */
.book-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    /* background-color: black; */
}

.book-card {
    background-color: #f1f1f1; /* Background color */
    border-radius: 15px; /* Rounded edges */
    padding: 5%; /* Separation from the edge of the div */
    margin: 5%; /* Separation from the surrounding divs */
    transition: transform 0.2s;
    overflow: hidden;
    max-width: 100%;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card h3 {
    margin-top: 0;
}

.book-card p {
    margin-bottom: 10px;
}

.book-card img {
    height: 25%;
    width: 50%;
    float: left;
    margin-right: 5px;
}

.PopUpContainer .openPopUp {
    display: none;
}
